doctype html
html
  head
    p= bitstamp.bid
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    // script(src='i18next/i18next.js', type='text/javascript')    
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container-fluid.header-bar
      .row.text-center
        .col-xs-11.col-sm-11
          h2= t("header-text") 
        .col-xs-1.col-sm-1
          if i18n.language == 'en'
            a.badge.lng-setter(href='?lng=fa') فارسی
          else
            a.badge.lng-setter(href='?lng=en') English
          a.badge.lng-setter(href='/home') Home
    block content
    // script.
    //   $.i18n.init([], function() { 
    //     console.log(i18n.t('app.name'));
    //   });

