ul.menu.right.grid
	li.current
		a(href='') Home
	li
		a(href='') About
	li
		a(href='') Services
		ul
			li
				a(href='') Web Design
			li
				a(href='') Web Development



p <i class="fa fa-home"></i> This is from navigation file.
